/*Marketing*/
div.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
div.marketing h2 {
  font-weight: normal;
}
div.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

div.marketing .col-md-4{
  padding: 20px;
}

div.marketing .col-md-4:hover {
  background-color: #eee;
  border-radius: 15px;
}

/**/
#projects {
  margin-top: 30px;
}

/*navbar*/
.navbar{
  border-top: 5px solid red;
  height: 100px;
  vertical-align: middle;
}

nav .img-circle{
  border-style: solid;
  border-width: 3px;
  border-color: #ffae00;
  box-shadow: 1px 1px 5px #484848;
  /*vertical-align: -11px;*/
}

