/*Marketing*/
div.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
div.marketing h2 {
  font-weight: normal;
}
div.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

div.marketing .col-md-4{
  padding: 20px;
}

div.marketing .col-md-4:hover {
  background-color: #eee;
  border-radius: 15px;
}

/**/
#projects {
  margin-top: 30px;
}

/*navbar*/
.navbar{
  border: 0px;
  border-radius: 0px;
  border-bottom: 5px solid #337ab7;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; /* or 950px */
}

/*.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}*/

.navbar-brand small {
  display: none;
  font-size:10px;
}

.navbar .container{
  margin-right: auto;
  margin-left: auto;
  max-width: 925px;
}

nav .img-circle{
  border-style: solid;
  border-width: 3px;
  border-color: #ffae00;
  box-shadow: 1px 1px 5px #484848;
  /*vertical-align: -11px;*/
}

#social a{
    padding: 3px;
}

h1.nameandprof {
    margin-bottom: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 69px;
  /*background-color: #f5f5f5;*/
}

.iubenda-ibadge {
  vertical-align: middle;
}


