 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am a C++ and Unity developer, passionate about 3D real time applications and video games. I worked on a proprietary game engine and on multiple application for PC and HoloLens. In the free time, I participate at game jams and improve my skills on game development.</p>
                </div>
                <!--<div class="col-lg-4">
                    <p>Second colums</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Something
                    </a>
                </div>-->
            </div>
        </div>
    </section>
