 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                     I'm a technology enthusiast, I love programming. At work I use C++ and Unreal Engine to develop a BIM Software. Previously, I developed Virtual Reality and Augmented Reality applications using C++ (proprietary engine) and Unity 3D for device like HTC Vive and Microsoft HoloLens. In the free time I learn new technologies and develop video games at Game Jams, winning with my team the best game prize in the 2018 edition in Turin.
                    </p>
                </div>
                <!--<div class="col-lg-4">
                    <p>Second colums</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Something
                    </a>
                </div>-->
            </div>
        </div>
    </section>
