<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script type="text/javascript">

function loadRepos(){
  var x;
  var res = 128;

  $.getJSON('https://bitbucket.org/api/1.0/users/andxet', function(data) {
    var repos = data["repositories"]
    console.log(repos)
    //Modifico i link ai logo, prendendo quelli ad una risoluzione più alta
    for (i=0; i < repos.length; i++){
        var r=repos[i]
        var l = String(r['logo'])
        
        if (l.indexOf("/32/?ts") > -1){//Contains non funge su safari
            r["logo"] = l.replace("/32/", "/"+res+"/")
        }
    }
    //Costruisco le righe
    var rows=[];
    var step=3;
    for(i=0; i<repos.length ; i+=step){
        rows.push({repo: repos.slice(i,i+step)});
    };
    
    var source = $('#project-template').html();//elemento in cui verranno inseriti i progetti
    var template = Handlebars.compile(source);
    var rendered = template({"rows": rows});
    $('#projects').html(rendered);
  });
}
</script>