<!--<script type="text/javascript" src='/js/headroom.min.js'></script>-->
<script type="text/javascript" src='/js/jquery-2.1.4.min.js'></script>
<!--<script type="text/javascript" src='/js/mustache.min.js'></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script type="text/javascript">
/* grab an element
var myElement = document.querySelector("site-header");
console.log(myElement)
// construct an instance of Headroom, passing the element
var headroom  = new Headroom(myElement);
// initialise
headroom.init(); */
/*function loadReposMustache(){
  var x;
  $.getJSON('https://bitbucket.org/api/1.0/users/andxet', function(data) {
    var repos = data["repositories"]
    for (i=0; i < data["repositories"].length; i++){
        var r=data["repositories"][i]
        l = r['logo']
        if (l.includes("language-avatars/")){
            r["logo"] = l.replace("16.png", "64.png")
        }
    }
    var template = $('#template').html();
    Mustache.parse(template);   // optional, speeds up future uses
    var rendered = Mustache.render(template, {"repositories": data["repositories"]});
    $('#target').html(rendered);
  });
}*/

function loadRepos(){
  var x;
  var res = 128;

  $.getJSON('https://bitbucket.org/api/1.0/users/andxet', function(data) {
    var repos = data["repositories"]
    //Modifico i link ai logo, prendendo quelli ad una risoluzione più alta
    for (i=0; i < repos.length; i++){
        var r=repos[i]
        var l = String(r['logo'])
        
        if (l.indexOf("/16/?ts") > -1){//Contains non funge su safari
            r["logo"] = l.replace("/16/", "/"+res+"/")
        }
    }
    //Costruisco le righe
    var rows=[];
    var step=3;
    for(i=0; i<repos.length ; i+=step){
        rows.push({repo: repos.slice(i,i+step)});
    };
    
    var source = $('#project-template').html();//elemento in cui verranno inseriti i progetti
    var template = Handlebars.compile(source);
    var rendered = template({"rows": rows});
    $('#projects').html(rendered);
  });
}
</script>