//portfolio
.project-table {

}
.project-element {
    padding: 10px;
    padding-left: 20;
    border-radius: 3px;
}

.project-element:hover {
    background-color: $grey-color-light;
}

.project-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: solid;
    border-color: $grey-color-light;
    box-shadow: 1px 1px 5px $grey-color-dark;
    vertical-align: -11px;
    //display: inline;
}

.project-name {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;
    margin-left: 5px;
}

.projet-description {
}

.author-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: solid;
    border-color: $grey-color-light;
    box-shadow: 1px 1px 5px $grey-color-dark;
    display: inline-block;
    //vertical-align: -16px;
}

.author-image-big {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: $grey-color-light;
    box-shadow: 5px 5px 5px $grey-color-dark;
    display: inline-block;
    //vertical-align: -16px;
}

//Per il jumbotron
.jumbotron h1{
    font-size: 50px;
}

h1 small{
    font-size: 55%;
}
    